body{
    font-family: Verdana, Arial, "\5FAE\8EDF\6B63\9ED1\9AD4", "Microsoft JhengHei", "\5FAE\8EDF\96C5\9ED1\9AD4", "Microsoft YaHei";
}

.monthLayout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    box-sizing: border-box;
    float: left;
}

.month {
    height: 50px;
    width: calc(100% - 40px);
    background: #ede9dd;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.tab {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
}

.now {
    top: 4px;
    height: 42px;
    background: white;
}

.tab.now span{
    color: #e10500;
}

.tab span{
    color: #666;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
}

.btn {
    width: 20px;
    height: 50px;
    background: #ede9dd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn.pre::before {
    content: '';
    border-style: solid;
    border-width: 7px 7px 7px 0;
    border-color: transparent #e10500 transparent transparent;
}

.btn.next::before {
    content: '';
    border-style: solid;
    border-width: 7px 0 7px 7px;
    border-color: transparent transparent transparent #e10500;
}